<p id="notice"><%= notice %></p>
<h1>Atracciones</h1>

                                    <!--Inicio de la lista de imagenes-->

                                    <div class="owl-item" style="width: 4%;">
                                      <div class="item">
                                        <div class="product_container">
                                          <div class="product_image_container">
                                            <a id="id-5389" class="product_thumb_link" href="http://cunadetierra.com/" title="Viñedo Cuna de Tierra">
                                              <img src="http://gastronomia.com/uploads/noticias/IMG_5388.jpg" class="wpcs-thum" alt="Viñedo Cuna de Tierra" style="width:100%; max-width:300px;left top no-repeat; height:100%; max-height:800px;">
                                            </a>
                                          </div>
                                          <div class="caption">
                                            <h4 class="product_name">
                                            <a id="id-5389" href="http://ballesteros.net/es/producto/dije-catrina-con-flores/" title="Viñedo Cuna de Tierra">Viñedo Cuna de Tierra
                                            </a>
                                            </h4>
                                            <span class="price">
                                              <span class="woocommerce-Price-amount amount">700 personas
                                              </span>
                                            </span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="owl-item" style="width: 4%;">
                                      <div class="item">
                                        <div class="product_container">
                                          <div class="product_image_container">
                                            <a id="id-5384" class="product_thumb_link" href="museojosealfredojimenez.com.mx/" title="Casa Museo José Alfredo Jiménez">
                                              <img src="http://www.vmexicoalmaximo.com/images/articulos/personajes/jose_alfredo_jimenez/Casa-Museo-Jose-Alfredo-Jimenez-2.jpg" class="wpcs-thum" alt="Casa Museo José Alfredo Jiménez">
                                            </a>
                                          </div>
                                          <div class="caption">
                                            <h4 class="product_name">
                                            <a id="id-5384" href="http://ballesteros.net/es/producto/brazalete-delgado-con-calaveras-y-flores/" title="Casa Museo José Alfredo Jiménez">Casa Museo José Alfredo Jiménez
                                            </a>
                                            </h4>
                                            <span class="price">
                                              <span class="woocommerce-Price-amount amount">200 personas
                                              </span>
                                            </span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="owl-item" style="width: 4%;">
                                      <div class="item">
                                        <div class="product_container">
                                          <div class="product_image_container">
                                            <a id="id-5380" class="product_thumb_link" href="http://doloreshidalgo.gob.mx/museo-independencia-antigua-carcel.html" title="Museo de la Independencia">
                                              <img src="http://dolores-hidalgo.com/images/museo-de-la-independencia-7.jpg?crc=264010925" class="wpcs-thum" alt="Museo de la Independencia">
                                            </a>
                                          </div>
                                          <div class="caption">
                                            <h4 class="product_name">
                                            <a id="id-5380" href="http://ballesteros.net/es/producto/brazalete-con-calaveras-y-flores/" title="Museo de la Independencia">Museo de la Independencia
                                            </a>
                                            </h4>
                                            <span class="price">
                                              <span class="woocommerce-Price-amount amount">200 personas
                                              </span>
                                            </span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="owl-item" style="width: 4%;">
                                      <div class="item">
                                        <div class="product_container">
                                          <div class="product_image_container">
                                            <a id="id-5376" class="product_thumb_link" href="http://eleconomista.com.mx/entretenimiento/2013/07/14/retono-arbol-noche-triste-sobrevive-guanajuato" title="Árbol de la noche Triste">
                                              <img src="http://static.panoramio.com/photos/large/81518863.jpg" class="wpcs-thum" alt="Árbol de la noche Triste">
                                            </a>
                                          </div>
                                          <div class="caption">
                                            <h4 class="product_name">
                                            <a id="id-5376" href="http://ballesteros.net/es/producto/brazalete-de-flores/" title="Árbol de la noche Triste">Hijo de Árbol de la noche Triste
                                            </a>
                                            </h4>
                                            <span class="price">
                                              <span class="woocommerce-Price-amount amount">500 personas
                                              </span>
                                            </span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div id="woo-product-carousel-wrapper-536443415" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                                <div class="owl-wrapper-outer">
                                  <div class="owl-wrapper" style="width: 8808px; left: 0px; display: block; transition: all 800ms ease; transform: translate3d(-367px, 0px, 0px);">
                                    <div class="owl-item" style="width: 4%;">
                                      <div class="item">
                                        <div class="product_container">
                                          <div class="product_image_container">
                                            <a id="id-5395" class="product_thumb_link" href="http://ballesteros.net/es/producto/cruz-con-catrina-y-flores/" title="CRUZ CON CATRINA Y FLORES">
                                              <img src="http://ballesteros.net/wp-content/uploads/2017/06/MedallaCruz-1-2-300x300.png" class="wpcs-thum" alt="CRUZ CON CATRINA Y FLORES">
                                            </a>
                                          </div>
                                          <div class="caption">
                                            <h4 class="product_name">
                                            <a id="id-5395" href="http://ballesteros.net/es/producto/cruz-con-catrina-y-flores/" title="CRUZ CON CATRINA Y FLORES">
                                            </a>
                                            </h4>
                                            <span class="price">
                                              <span class="woocommerce-Price-amount amount">
                                              </span>
                                            </span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="owl-item" style="width: 4%;">
                                      <div class="item">
                                        <div class="product_container">
                                          <div class="product_image_container">
                                            <a id="id-5389" class="product_thumb_link" href="http://cunadetierra.com/" title="Explanada de la Feria">
                                              <img src="https://rsrbs-development.s3.amazonaws.com/uploads/fenapo.jpg" class="wpcs-thum" alt="Explanada de la Feria">
                                            </a>
                                          </div>
                                          <div class="caption">
                                            <h4 class="product_name">
                                            <a id="id-5389" href="http://ballesteros.net/es/producto/dije-catrina-con-flores/" title="Explanada de la Feria">Explanada de la Feria
                                            </a>
                                            </h4>
                                            <span class="price">
                                              <span class="woocommerce-Price-amount amount">40000 personas
                                              </span>
                                            </span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="owl-item" style="width: 4%;">
                                      <div class="item">
                                        <div class="product_container">
                                          <div class="product_image_container">
                                            <a id="id-5384" class="product_thumb_link" href="museojosealfredojimenez.com.mx/" title="Salón Quinta Las Palomas">
                                              <img src="https://igx.4sqi.net/img/general/600x600/6707216_PIt9_W0lZdVqj3LsH28PvethLft55d3x5C_qiQrsZj8.jpg" class="wpcs-thum" alt="Salón Quinta Las Palomas">
                                            </a>
                                          </div>
                                          <div class="caption">
                                            <h4 class="product_name">
                                            <a id="id-5384" href="http://ballesteros.net/es/producto/brazalete-delgado-con-calaveras-y-flores/" title="Salón Quinta Las Palomas">Salón Quinta Las Palomas
                                            </a>
                                            </h4>
                                            <span class="price">
                                              <span class="woocommerce-Price-amount amount">800 personas
                                              </span>
                                            </span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="owl-item" style="width: 4%;">
                                      <div class="item">
                                        <div class="product_container">
                                          <div class="product_image_container">
                                            <a id="id-5380" class="product_thumb_link" href="http://doloreshidalgo.gob.mx/museo-independencia-antigua-carcel.html" title="Hacienda de Trancas">
                                              <img src="http://www.atractivosturisticos.com.mx/wp-content/uploads/2014/11/shapeimage_1.png" class="wpcs-thum" alt="Hacienda de Trancas">
                                            </a>
                                          </div>
                                          <div class="caption">
                                            <h4 class="product_name">
                                            <a id="id-5380" href="http://ballesteros.net/es/producto/brazalete-con-calaveras-y-flores/" title="Hacienda de Tranca">Hacienda de Trancas
                                            </a>
                                            </h4>
                                            <span class="price">
                                              <span class="woocommerce-Price-amount amount">1000 personas
                                              </span>
                                            </span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="owl-item" style="width: 4%;">
                                      <div class="item">
                                        <div class="product_container">
                                          <div class="product_image_container">
                                            <a id="id-5376" class="product_thumb_link" href="http://eleconomista.com.mx/entretenimiento/2013/07/14/retono-arbol-noche-triste-sobrevive-guanajuato" title="Presa del Gallinero">
                                              <img src="http://1.bp.blogspot.com/-wgASqXz-2MI/UXWElauvRfI/AAAAAAAAMWw/E01dISrQPI8/s1600/pueta+de+sol+en+Loreto.jpg" class="wpcs-thum" alt="Presa del Gallinero">
                                            </a>
                                          </div>
                                          <div class="caption">
                                            <h4 class="product_name">
                                            <a id="id-5376" href="http://ballesteros.net/es/producto/brazalete-de-flores/" title="Presa del Gallinero">Presa del Gallinero
                                            </a>
                                            </h4>
                                            <span class="price">
                                              <span class="woocommerce-Price-amount amount">50000 personas
                                              </span>
                                            </span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              </div> <!-- End wpcs_product_carousel_slider -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

<% if user_signed_in? %>
           <%= link_to 'Agregar Nueva', new_photo_path, :class => 'btn btn-info' %>
            <% end %>

              <div class="vc_text_separator wpb_content_element full separator_align_center tradicionbn">
                <div style="background-color:#efedec; color:#ee7918;">
                  <span>Tradición e Historia
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="qode_video_box" align="center">
    <a itemprop="image" class="qode_video_image" href="https://www.youtube.com/watch?v=U1cW1E8Vi9Y
      " data-rel="prettyPhoto" rel="prettyPhoto">
      <img width="561" height="372" src="http://www.pueblosmexico.com.mx/IMG/arton23406.jpg" class="attachment-full size-full" alt="video" srcset="http://www.pueblosmexico.com.mx/IMG/arton23406.jpg 300w, http://www.pueblosmexico.com.mx/IMG/arton23406.jpg 561w" sizes="(max-width: 561px) 100vw, 561px">
    </a>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
<link rel="stylesheet" id="wpcs-owl-carousel-style-css" href="http://ballesteros.net/wp-content/plugins/product-carousel-slider-for-woocommerce/css/owl.carousel.css?ver=4.4.10" type="text/css" media="all">
<link rel="stylesheet" id="wpcs-owl-theme-style-css" href="http://ballesteros.net/wp-content/plugins/product-carousel-slider-for-woocommerce/css/owl.theme.css?ver=4.4.10" type="text/css" media="all">
<link rel="stylesheet" id="wpcs-owl-transitions-css" href="http://ballesteros.net/wp-content/plugins/product-carousel-slider-for-woocommerce/css/owl.transitions.css?ver=4.4.10" type="text/css" media="all">
<link rel="stylesheet" id="wpcs-font-awesome-css" href="http://ballesteros.net/wp-content/plugins/product-carousel-slider-for-woocommerce/css/font-awesome.min.css?ver=4.4.10" type="text/css" media="all">
<link rel="stylesheet" id="wpcs-custom-style-css" href="http://ballesteros.net/wp-content/plugins/product-carousel-slider-for-woocommerce/css/wpcs-styles.css?ver=4.4.10" type="text/css" media="all">
<script type="text/javascript" src="http://ballesteros.net/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20">
</script>
</body>